﻿@{ Layout = "_LayoutAccount"; }
<div class="PasswordConfirmationAction">
    <div>
        <p class="textForgot fw-bold">Данный email уже используется</p>
        <h5 class="PasswordConfirmationText">
        </h5>
        <p>
            Вы можете @Html.ActionLink("войти на сайт", "Login", "Account", null, new { returnUrl = "/", style = "text-decoration:none;" })
            или сбросить @Html.ActionLink("пароль", "ForgotPassword", "Account", null, new { style = "text-decoration:none;" })
        </p>
    </div>
</div>
