﻿@{
    Layout = "_LayoutAccount";
}
<div class="PasswordConfirmationAction">
    <div>
        <p class="textForgot fw-bold">Письмо для сброса отправлено</p>
        <h5 class="PasswordConfirmationText">
            Мы отправили вам  письмо со ссылкой для сброса пароля.
            Если не нашли - проверьте папку "Спам"
        </h5>
        <p>
            @Html.ActionLink("Вернуться на главную страницу", "Index", "Home", null, new { style = "text-decoration:none;" })
        </p>
    </div>
</div>

