﻿@model ForgotPasswordViewModel
@{
    Layout = "_LayoutAccount";
}
<div class="forgotPasswordAction">
    <div>
        <p class="textForgot fw-bold">Забыли пароль? Не беда</p>
        <h5 class="mainText">
            Мы можем сбросить ваш пароль, а вы придумаете
            новый. Для этого укажите адрес почты, на которую вы
            зарегестрировали аккаунт
        </h5>
        <div class="div-box">
            <form method="post" asp-area="" asp-action="ForgotPassword" asp-controller="Account">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="mb-3">
                    <label for="validationServer03" class="form-label" asp-for="Email"></label>
                    <input type="email" class="form-control is-invalid" id="validationServer03"
                           placeholder="example@mail.ru" asp-for="Email" required/>
                    <span asp-validation-for="Email"></span>
                </div>
                <div class="col-md-offset-2 col-md-10">
                    <button class="btn btn-primary mb-3 buttomInputSite" type="submit">Сбросить пароль</button>
                </div>
            </form>
        </div>
    </div>
</div>

