﻿@model Currency.Core.ViewModels.LoginViewModel

@{ Layout = "_LayoutAccount"; }
<div class="senya">
    <div>
        <h1 class="nameCompany fw-bold">Войти на GlobalNews</h1>
        <div class="mb-3">
            <form method="post" asp-area="" asp-action="Login" asp-controller="Account" asp-route-returnUrl="@ViewBag.returnUrl">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label" asp-for="Email"></label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" 
                           placeholder="example@mail.ru" asp-for="Email" required/>
                    <span asp-validation-for="Email"></span>
                </div>
                <div>
                    <label for="exampleInputPassword1" class="form-label"
                           asp-for="Password"></label>
                    <input type="password" class="form-control" id="exampleInputPassword1"
                           asp-for="Password" required/>
                    <span asp-validation-for="Password"></span>
                </div>

                <div>
                    <button class="btn btn-primary mb-3 buttomInputSite" type="submit">Войти</button>
                </div>
            </form>
        </div>
        <h2 class="linkTextRegister">@Html.ActionLink("Регистрация", "Register", "Account", null, new { style = "text-decoration:none;" })</h2>
        <h2 class="linkTextForgotPassword">@Html.ActionLink("Забыли пароль?", "ForgotPassword", "Account", null, new { style = "text-decoration:none;" })</h2>
    </div>
</div>
