﻿@model RegisterViewModel
@{
    Layout = "_LayoutAccount";
}
<div class="registerAction">
    <h1>Создание аккаунта</h1>
    <div class="div-box">
        <form method="post" asp-area="" asp-action="Register" asp-controller="Account" asp-route-returnUrl="@ViewBag.returnUrl">
            <div asp-validation-summary="All"></div>
            <div class="mb-3">
                <label for="validationServer01" class="form-label" asp-for="FirstName"></label>
                <input type="text" class="form-control is-invalid" id="validationServer01"
                       placeholder="Алексей" asp-for="FirstName" required />
                <span asp-validation-for="FirstName"></span>
            </div>
            <div class="mb-3">
                <label for="validationServer02" class="form-label" asp-for="LastName"></label>
                <input type="text" class="form-control is-invalid" id="validationServer02" 
                           placeholder="Николаев" asp-for="LastName" required/>
                <span asp-validation-for="LastName"></span>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label" asp-for="Email"></label>
                <input type="email" class="form-control" id="exampleInputEmail1" 
                       placeholder="example@mail.ru" asp-for="Email" required/>
                <span asp-validation-for="Email"></span>
            </div>
            <div class="mb-3">
                <label for="inputPassword5" class="form-label" asp-for="Password"></label>
                <input type="password" id="inputPassword5" class="form-control" 
                       aria-describedby="passwordHelpBlock" asp-for="Password" required/>
                <span asp-validation-for="Password"></span>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label" asp-for="PasswordConfirm"></label>
                <input type="password" class="form-control" id="exampleInputPassword1" 
                       asp-for="PasswordConfirm" required/>
                <span asp-validation-for="PasswordConfirm"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Avatar">Выбрать аватарку</label>
                <input class="form-control" id="exampleInputText6" asp-for="Avatar" type="file" />
            </div>
            <div>
                <button class="btn btn-primary mb-3 buttomInputSite" type="submit">Создать аккаунт</button>
            </div>
        </form>
    </div>
</div>

