﻿@model ResetPasswordViewModel

@{
    Layout = "_LayoutAccount";
}

<div class="CreateNewPasswordAction">
    <div class="div-box">
        <h2>Задайте новый пароль</h2>
        <form method="post" asp-area="" asp-action="ResetPassword" asp-controller="Account">
            <div asp-validation-summary="ModelOnly"></div>
            <input asp-for="Code" type="hidden" />
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label" asp-for="Email"></label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="example@mail.ru"
                       asp-for="Email" required/>
                <span asp-validation-for="Email"></span>
            </div>
            <div>
                <label for="inputPassword5" class="form-label" asp-for="Password"></label>
                <input type="password" id="inputPassword5" class="form-control" 
                       aria-describedby="passwordHelpBlock" asp-for="Password" required/>
                <span asp-validation-for="Password"></span>
            </div>
            <div>
                <label for="exampleInputPassword1" class="form-label" asp-for="PasswordConfirm"></label>
                <input type="password" class="form-control" id="exampleInputPassword1"
                       asp-for="PasswordConfirm" required/>
                <span asp-validation-for="PasswordConfirm"></span>
            </div>
            <div>
                <button class="btn btn-primary mb-3 buttomInputSite" type="submit">Сменить пароль</button>
            </div>
        </form>
    </div>
</div>