﻿@{
    Layout = "_LayoutAccount";
}

<div class="PasswordConfirmationAction">
    <div>
        <p class="textForgot fw-bold">Поздравляю с новым паролем!</p>
        <h5 class="PasswordConfirmationText">
            Ваш пароль сброшен. 
        </h5>
        <p>
            Для входа на сайт перейдите по @Html.ActionLink("ссылке", "Login", "Account", null, new { style = "text-decoration:none;" })
        </p>
    </div>
</div>
