﻿@{ 
    Layout = "_LayoutAccount"; 
}
<div class="PasswordConfirmationAction">
    <div>
        <p class="textForgot fw-bold">Письмо отправлено</p>
        <h5 class="PasswordConfirmationText">
            Мы отправили письмо на указанную почту, подтвердите регистрацию.
        </h5>
        <p>
            @Html.ActionLink("Вернуться на главную страницу", "Index", "Home", null, new { style = "text-decoration:none;" })
        </p>
    </div>
</div>