﻿@model CreateArticleViewModel
@{ 
    Layout = "_LayoutCreateArticle";
}
@if (Model.isSavedArticle)
{
    <p>Черновик сохранен</p>
    <div>
    <h1>Новая статья</h1>
    <div class="div-box">
        <form method="post" asp-area="" asp-action="SendForReview" asp-controller="Article" enctype="multipart/form-data"
              asp-route-id="@Model.ArticleId">
            <div asp-validation-summary="All"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <input class="btn btn-primary mb-3 buttomInputSite" type="submit" name="btnAction" value="Сохранить черновик" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 .ml-auto">
                        <input class="btn btn-primary mb-3 buttomInputSite" type="submit" name="btnAction" value="Опубликовать" />
                    </div>
                </div>

            </div>


            <div class="mb-3">
                <label for="validationServer01" class="form-label" asp-for="Title"></label>
                <input type="text" class="form-control" id="validationServer01"
                       placeholder="Титульник" asp-for="Title" required />
                <span asp-validation-for="Title"></span>
            </div>

            <div class="mb-3">
                <label for="validationServer07" class="form-label">Категория</label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.MyCategory" required></select>
            </div>

            <div class="mb-3">
                <label for="validationServer02" class="form-label" asp-for="KeyWord"></label>
                <input type="text" class="form-control" id="validationServer02"
                       placeholder="Ключевое слово" asp-for="KeyWord" required />
                <span asp-validation-for="KeyWord"></span>
            </div>

            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label" asp-for="Text"></label>
                <textarea cols="40" rows="5" class="form-control h-100" aria-invalid="false"
                          id="exampleInputEmail1"
                          placeholder="Ваш любимый текст" asp-for="Text" required>
                </textarea>
                <span asp-validation-for="Text"></span>
            </div>

            <div class="mb-3">
                <label>Добавить картинку</label>
                <input class="form-control" id="exampleInputText6" type="file" name="titleImageFile" />
                <input class="btn btn-primary mb-3 buttomInputSite" type="submit" name="btnAction" value="Добавить изображение" />
                <div>
                    <p> <img src="@Url.Content(Model.Path)" /></p>
                </div>
            </div>
        </form>
    </div>
</div>

<form class="btn btn-sm btn-danger" asp-action="RemoveArticle" asp-controller="Article" asp-route-id="@Model.ArticleId">
    <div>
        <input type="submit" value="Удалить статью" />
    </div>
</form>



}
else
{
<div>
    <h1>Новая статья</h1>
    <div class="div-box">
        <form method="post" asp-area="" asp-action="Create" asp-controller="Article" enctype="multipart/form-data">
            <div asp-validation-summary="All"></div>
            <div class="row">
                    <div class="col-md-4">
                        <input class="btn btn-primary mb-3 buttomInputSite" type="submit" name="btnAction" value="Сохранить черновик" />
                    </div>
                    <div class="col-md-4 col-md-push-4">
                        <input class="btn btn-primary mb-3 buttomInputSite" type="submit" name="btnAction" value="Опубликовать" />
                    </div>
            </div>



            <div class="mb-3">
                <label for="validationServer01" class="form-label" asp-for="Title"></label>
                <input type="text" class="form-control" id="validationServer01"
                       placeholder="Титульник" asp-for="Title" required />
                <span asp-validation-for="Title"></span>
            </div>

            <div class="mb-3">
                <label for="validationServer07" class="form-label">Категория</label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.MyCategory" required></select>
            </div>

            <div class="mb-3">
                <label for="validationServer02" class="form-label" asp-for="KeyWord"></label>
                <input type="text" class="form-control" id="validationServer02"
                       placeholder="Ключевое слово" asp-for="KeyWord" required />
                <span asp-validation-for="KeyWord"></span>
            </div>

            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label" asp-for="Text"></label>
                <textarea type="email" cols="40" rows="5" class="form-control h-100" aria-invalid="false"
                          id="exampleInputEmail1"
                          placeholder="Ваш любимый текст" asp-for="Text" required>
                </textarea>
                <span asp-validation-for="Text"></span>
            </div>

            <div class="mb-3">
                <label>Добавить картинку</label>
                <input class="form-control" id="exampleInputText6" type="file" name="titleImageFile" />
                <input class="btn btn-primary mb-3 buttomInputSite" type="submit" name="btnAction" value="Добавить изображение" />
                <div>
                    <p> <img src="@Url.Content(Model.Path)" /></p>
                </div>
            </div>
        </form>
    </div>
</div>
}

    
