﻿@model Article 

<form asp-action="EditArticle" asp-controller="Article" asp-route-id="@Model.Id">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="mb-3">
        <label for="validationServer02" class="form-label" asp-for="Title">Заголовок статьи</label>
        <input type="text" class="form-control" id="validationServer02" asp-for="Title" name="title" />
        <span asp-validation-for="Title"></span>
    </div>

    <div class="mb-3">
        <label for="validationServer03" class="form-label" asp-for="Title">Категория статьи</label>
        <select asp-for="Category.Id" class="form-control" asp-items="ViewBag.MyCategory" name="categoryid"></select>
    </div>

    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label" asp-for="Text">Текст статьи</label>
        <textarea cols="40" rows="5" class="form-control h-100" aria-invalid="false"
                  id="exampleInputEmail1" asp-for="Text"> 
        </textarea>
        <span asp-validation-for="Text"></span>
    </div>


    <div>
        <input class="btn btn-primary mb-3 buttomInputSite" type="submit" value="Обновить статью" />
    </div>
</form>

