﻿@{ Layout = "_LayoutAccount"; }

<div class="PasswordConfirmationAction">
    <div>
        <p class="textForgot fw-bold">Статья опубликована</p>
        <h5 class="PasswordConfirmationText">
            Мы опубликовали вашу статью. Вы можете найти её на главной станице или у себя в профиле в разделе
            "Опубликованные статьи".
        </h5>
        <p>
            @Html.ActionLink("Вернуться на главную страницу", "Index", "Home", null, new { style = "text-decoration:none;" })
        </p>
    </div>
</div>