﻿@{ Layout = "_LayoutAccount"; }

<div class="PasswordConfirmationAction">
    <div>
        <p class="textForgot fw-bold">Статья удалена</p>
        <h5 class="PasswordConfirmationText">
            Прискорбно что вы удалили статью... Но вы можете написать новую!!
        </h5>
        <p>
            @Html.ActionLink("Вернуться на главную страницу", "Index", "Home", null, new { style = "text-decoration:none;" })
        </p>
    </div>
</div>