﻿@model ArticleViewModel

@{ 
    Layout = "_LayoutCreateArticle";
}
<div class="row">
    <div class="allcolor">
    </div>
    <div class="mycolor">

        <div class="row align-items-center mycolor p-3">
            <div class="col-md-4">Категория: @Model.Article.Category.Name</div>
            <div class="col-md-4"></div>
            <div class="col-md-4">Автор: @Model.Article.Author.FirstName @Model.Article.Author.LastName</div>
            <p>@Model.Article.Title</p>
            <p>@Model.Article.Text</p>

            @if (Model.Article.Picture != null)
            {
                <img src="@Url.Content(Model.Article.Picture.Path)" />}
        </div>


        @if (User.IsInRole("moderator") && Model.moderatorArticle == false)
        {
            <form asp-action="CreateComment" asp-controller="Article">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="CommentText" for="validationServer02" class="form-label">Рецензия</label>
                    <input asp-for="CommentText" type="text" class="form-control" id="validationServer02" />
                    <input type="hidden" asp-for="@Model.Article.Id" name="Article.Id" />
                </div>
                <p></p>
                <div></div>
                <div>
                    <input class="btn btn-outline-primary" type="submit" value="Прокомментировать" />
                </div>
            </form>
            <form asp-action="ApproveArticle" asp-controller="Article" asp-route-Id="@Model.Article.Id">
                <div asp-validation-summary="All" class="text-danger"></div>
                @if (Model.IsApproved)
                {
            <div>
                <button class="btn btn-success" type="submit">
                    Одобрить статью
                </button>
            </div>
                }
                else
                {
            <div>
                <button class="btn btn-danger" type="submit" disabled>
                    Одобрить статью
                </button>
            </div>
                }
            </form>
            <p></p>

        }
        else if (Model.moderatorArticle || User.Identity.IsAuthenticated)
        {
            <form asp-action="PublishArticle" asp-controller="Article">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <input type="hidden" asp-for="@Model.Article.Id" name="Id" />
                </div>
                @if (Model.IsApproved)
                {
                    <div>
                        <button class="btn btn-success" type="submit" disabled>Опубликовать</button>
                    </div>
                }
                else
                {
            <div>
                <button class="btn btn-success" type="submit">Опубликовать</button>
            </div>
                }
            </form>
            <p></p>
            <p></p>
            <div class="row">
                <form class="col-md-10" asp-action="RemoveArticle" asp-controller="Article" asp-route-id="@Model.Article.Id">
                    <div>
                        <input class="btn btn-sm btn-danger" type="submit" value="Удалить статью" />
                    </div>
                </form>


                <div class="col-md-2">
                    @Html.ActionLink("Редактировать статью", "EditArticle", "Article", new { id = Model.Article.Id })
                </div>
            </div>
            <p></p>
        }

        @await Component.InvokeAsync("Review", new { id = Model.Article.Id })
    </div>

