﻿@model Chat
@{
    Layout = "_LayoutChat";
}


<div class="chat-body">
    @foreach (var message in Model.Messages)
    {
        <div class="message">
            <header>@message.Name</header>
            <p>@message.Text</p>
            <footer>@message.Timestamp</footer>
        </div>
    }
</div>


<form class="chat-input" onsubmit="sendMessage(event)" asp-action="CreateMessage" asp-controller="Home">
    <input type="text" name="message" id="message-input" />
    <input type="hidden" value="@Model.Id" name="roomId" />
    <button type="submit">send</button>
</form>

@section scripts{
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>
        var connection = new signalR.HubConnectionBuilder()
            .withUrl("/chat")
            .build();

        var _connectionId = '';

        connection.on("ReceiveMessage", function (data) {
            console.log(data);
            var message = document.createElement("div")
            message.classList.add('message')
            var header = document.createElement("header")
            header.appendChild(document.createTextNode(data.name))
            var p = document.createElement("p")
            p.appendChild(document.createTextNode(data.text))
            var footer = document.createElement("footer")
            // подредактировать вывод времени
            footer.appendChild(document.createTextNode(data.timestamp))

            message.appendChild(header);
            message.appendChild(p);
            message.appendChild(footer);

            var body = document.querySelector('.chat-body').append(message);
        });


        var joinRoom = function () {
            var url = '/ChatsAPI/JoinRoom/' + _connectionId + '/@Model.Id';
            axios.post(url, null)
                .then(res => {
                    console.log("Room Join", res);
                })
                .catch(err => {
                    console.log("Failed to join Room", res);
                })
        }


        connection.start()
            .then(function () {
                connection.invoke('getConnectionId')
                    .then(function (connectionId) {
                        _connectionId = connectionId;
                        joinRoom();
                    })
            })
            .catch(function (err) {
                console.log()
            })

        var form = null;

        var sendMessage = function (event) {
            event.preventDefault();

            var data = new FormData(event.target);

            document.getElementById('message-input').value = '';
            axios.post('/ChatsAPI/SendMessage', data)
                .then(res => {
                    console.log("Message sent")
                })
                .catch(err => {
                    console.log("Error, message not sent")
                })
        }
    </script>
}
