﻿@model IEnumerable<Chat>

@{
    var userId = User.FindFirst(ClaimTypes.NameIdentifier).Value;
}

<div>
    @foreach (var chat in Model)
    {
    <a asp-controller="Chats" asp-action="Chat" asp-route-id="@chat.Id">
        напиши админу
    </a>
    }
</div>
