﻿@model List<Article> 

<div>
    @foreach (Article article in Model)
    {
    <div>
        <p>@article.Title</p>
        <form asp-action="UserArticleReview" asp-controller="UserArticle" asp-route-id="@article.Id">
            <div>
                <input type="submit" value="Перейти к статье" />
            </div>
        </form>
    </div>
    }
</div>