﻿@model CategoryViewModels

@foreach (var category in Model.Categories)
{
    <h4>@category.Name</h4>
}

<form asp-action="Create" asp-controller="Categories">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <input type="text" asp-for="@Model.Name" name="name" />
    </div>
    <div>
        <input type="submit" value="Создать категорию" />
    </div>
</form>

<form asp-action="Delete" asp-controller="Categories">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <input type="text" asp-for="@Model.Name" name="name" />
    </div>
    <div>
        <input type="submit" value="Удалить категорию" />
    </div>
</form>
