﻿<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync("MetaTagPartial")
    @await Html.PartialAsync("StyleSheetPartial")
</head>
<body>
    <div class="container">
        
        @await Html.PartialAsync("HeaderPartial")
        
        <div class="row">
            <div class="col">
                @await Html.PartialAsync("SideBarPartial")
            </div>
            <div class="col-6">
                @RenderBody()
            </div>
            <div class="col">
                @await Html.PartialAsync("RightSideBarPartial")
            </div>
        </div>
    </div>
    @await Html.PartialAsync("ScriptsPartial")
    @RenderSection("Scripts", required: false)
</body>
</html>
