﻿<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @await Html.PartialAsync("MetaTagPartial")
    @await Html.PartialAsync("StyleSheetPartial")
</head>
<body>
    <div class="container">
        @await Html.PartialAsync("HeaderPartial")
        <div>
            @RenderBody()
        </div>
    </div>
    @await Html.PartialAsync("ScriptsPartial")
    @RenderSection("Scripts", required: false)
</body>
</html>
