﻿<!DOCTYPE html>

<html>
<head>
    @await Html.PartialAsync("MetaTagPartial")
    @await Html.PartialAsync("StyleSheetPartial")
</head>
<body>
    <div role="main">
        @RenderBody()
    </div>
    @await Html.PartialAsync("ScriptsPartial")

</body>
</html>
