﻿<!DOCTYPE html>

<html>
<head>
    @await Html.PartialAsync("MetaTagPartial")
    @await Html.PartialAsync("StyleSheetPartial")
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container">

        @await Html.PartialAsync("HeaderPartial")

        <div class="row no-gutters">
            <div class="col-6 col-md-4">
                @await Html.PartialAsync("ChatPartial") здесь все чаты
            </div>
            <div class="col-12 col-sm-6 col-md-8">
                @RenderBody()
            </div>
        </div>
    </div>
    @await Html.PartialAsync("ScriptsPartial")
    @RenderSection("Scripts", required: false)
</body>
</html>
