﻿@model List<Article>

@foreach (var article in Model)
{
    <h5>автор @article.Author.FirstName @article.Author.LastName </h5>
    <h5>навзание @article.Title </h5>
    <h5>дата создания статьи @article.TimeCreatedArticle</h5>
    <form class="btn btn-sm btn-danger" asp-action="RemoveArticle" asp-controller="Article" asp-route-id="@article.Id">
        <div>
            <input type="submit" value="Удалить статью" />
        </div>
    </form>


}