﻿@model UserViewModel

<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class="container-fluid">
        <p class="p-2 bd-highlight">@Html.ActionLink("Статьи", "Index", "Home", new { area = "" })</p>
        <p class="p-2 bd-highlight">@Html.ActionLink("Подписки", "Index", "Subscription", new { area = "" })</p>
        <p class="p-2 bd-highlight">@Html.ActionLink("Категории", "Index", "Category", new { area = "" })</p>
        <p class="p-2 bd-highlight">@Html.ActionLink("Авторы", "Index", "Author", new { area = "" })</p>
        @if (User.IsInRole("moderator"))
        {
<p class="p-2 bd-highlight">@Html.ActionLink("Модератор главная", "Index", new { area = "moderator", controller = "Home" })</p> }
            else if (User.IsInRole("admin"))
            {
<p class="p-2 bd-highlight">@Html.ActionLink("Админ главная", "Index", new { area = "admin", controller = "Home" })</p>            }
        <p class="p-2 bd-highlight">@Html.ActionLink("Написать статью", "Create", "Article", new { area = "" })</p>
        <div class="container-fluid">
            <form class="d-flex">
                <input class="form-control" type="search" placeholder="Ключевые слова" asp-for="Keywords">
                <button asp-action="ArticlesByKeyword" asp-controller="Home" asp-route-keywords="@Model.Keywords" class="btn btn-outline-success" type="submit">Найти</button>
            </form>
        </div>

        @if (!User.Identity.IsAuthenticated)
        {
<div class="d-flex flex-row-reverse bd-highlight">
    <div class="p-2 bd-highlight">
        @Html.ActionLink("Войти", "Login", "Account")
    </div>
    <div class="p-2 bd-highlight">
        @Html.ActionLink("Регистрация", "Register", "Account")
    </div>
</div> }
            else
            {
<div class="d-flex flex-row-reverse bd-highlight" id="userId">
    <div class="p-2 bd-highlight">
        <a asp-action="Index" asp-controller="UserHome" asp-route-area="">
            @Model.User.FirstName @Model.User.LastName
        </a>
    </div>
</div>}
    </div>
</nav>

