﻿@model SubscriptionViewModel
<div class="row">
    
    <div class="text-center fs-3">Авторы</div>
    @foreach (var mainAuthor in Model.Authors)
    {
        @foreach (var author in mainAuthor)
        {
            <div class="allcolor">
            </div>
            <div class="row align-items-center mycolor p-3 mycolor">
                <a asp-action="Author" asp-controller="Author" asp-route-id="@author.Id"
                   class="col-md-10">@author.FirstName @author.LastName</a>
                <form class="col-md-2" asp-action="UnsubscribeAuthor" asp-controller="Subscription">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <input type="hidden" asp-for="@author.Id" name="id" />
                    </div>
                    <div >
                        <input class="btn btn-danger" type="submit" value="Отписаться" />
                    </div>
                </form>
            </div>
        }
    }
</div>



<div class="row">
    <div class="text-center fs-3">Категории</div>
    @foreach (var mainCategoties in Model.Categories)
    {
        @foreach (var category in mainCategoties)
        {
            <div class="allcolor">
            </div>
            <div class="row align-items-center mycolor p-3 mycolor">
                <a asp-action="Category" asp-controller="Category" asp-route-id="@category.Id"
                   class="col-md-10">@category.Name</a>
            <form class="col-md-2" asp-action="UnsubscribeCategory" asp-controller="Subscription">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <input type="hidden" asp-for="@category.Id" name="id" />
                </div>
                <div>
                    <input class="btn btn-danger" type="submit" value="Отписаться" />
                </div>
            </form>
            </div>
        }
    }
</div>