﻿@model Category
<div class="row">
<div class="text-center fs-3">Всe статьи из категории @Model.Name</div>
<div class="row">
    <form class="col-md-10" asp-action="Subscribe" asp-controller="Category">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <input type="hidden" asp-for="@Model.Id" name="id" />
        </div>
        <div>
            <input class="btn btn-success" type="submit" value="Подписаться" />
        </div>
    </form>
    <form class="col-md-2" asp-action="Unsubscribe" asp-controller="Category">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <input type="hidden" asp-for="@Model.Id" name="id" />
        </div>
        <div>
            <input class="btn btn-danger" type="submit" value="Отписаться" />
        </div>
    </form>
</div>


    @foreach (var article in Model.Articles)
    {
        <div class="allcolor">
        </div>
        <div class="row align-items-center mycolor p-3 mycolor">
            <div class="col-md-4">Категория: @article.Category.Name</div>
            <p>@article.Title</p>
            <p>@article.Text</p>
            <a asp-action="Article" asp-controller="Home" asp-route-id="@article.Id">Подробнее</a>
        </div>
    }
</div>
