﻿@model List<Category>

<div class="row">

    @foreach (var category in Model)
    {
        <div class="allcolor">
        </div>
        <div class="row align-items-center mycolor p-3 mycolor">
            <div class="col-md-8">@category.Name</div>

            <div class="col-md-4">
                @Html.ActionLink("Все статьи данной категории", "Category", "Category", new { id = category.Id })
            </div>
            <div>
                Количество опубликованных статей с этой категорией: @category.Articles.Count
            </div>
        </div>
        
    }
</div>
