﻿@model ChangeProfileViewModel
<div>
    <h1>Изменение профиля</h1>
    <div class="div-box">
        <form method="post" asp-area="" asp-action="ChangeProfile" asp-controller="UserHome" asp-route-id="@Model.Userid">
            <div asp-validation-summary="All"></div>
            <div class="mb-3">
                <label for="validationServer01" class="form-label" asp-for="FirstName"></label>
                <input type="text" class="form-control" id="validationServer01" asp-for="FirstName"/>
                <span asp-validation-for="FirstName"></span>
            </div>
            <div class="mb-3">
                <label for="validationServer02" class="form-label" asp-for="LastName"></label>
                <input type="text" class="form-control" id="validationServer02" asp-for="LastName"/>
                <span asp-validation-for="LastName"></span>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label" asp-for="Email"></label>
                <input type="email" class="form-control" id="exampleInputEmail1" asp-for="Email"/>
                <span asp-validation-for="Email"></span>
            </div>
            <div class="mb-3">
                <label for="exampleInputText3" class="form-label" asp-for="Avatar">Аватарка</label>
                <input class="form-control" id="exampleInputText3" asp-for="Avatar" type="file" />
            </div>
            <div>
                <input class="btn btn-primary mb-3 buttomInputSite" type="submit" value="Обновить мой профиль" />
            </div>
        </form>
    </div>
</div>

