﻿@model UserHomeViewModel
    <div class="allcolor">
    </div>
<div class="row">
    <div class="text-center fs-2">Личная страница</div>
    <div class="row align-items-center mycolor p-3 mycolor">
        <div class="col-md-9">@Model.User.FirstName @Model.User.LastName</div>

        <div class="col-md-3">
            <form asp-area="" asp-controller="Account" asp-action="Logout" method="post">
                <input class="btn btn-danger" type="submit" value="Выйти из профиля" />
            </form>
        </div>
        <div>
            Количество подписок: @Model.User.Authors.Count
            Количество выпущенных статей: @Model.PublishedArticles.Count
        </div>
        <div class="row">
            <div class="col-md-9">@Html.ActionLink("Диалоги", "Index", "Chats")</div>
            <div>
                <a class="col-md-3" asp-action="ChangeProfile" asp-controller="UserHome" asp-route-id="@Model.User.Id">Изменить профиль</a>
            </div>
        </div>
    </div>
    <div class="text-center fs-4">Опубликованные статьи</div>
    @foreach (var articles in Model.PublishedArticles)
    {
        <div class="allcolor">
        </div>
        <div class="row align-items-center mycolor p-3 mycolor">
            <div class="col-md-4">Категория: @articles.Category.Name</div>
            <div class="col-md-4"></div>
            <div class="col-md-4">Автор: @articles.Author.FirstName @articles.Author.LastName</div>
            <p>@articles.Title</p>
            <p>@articles.Text</p>
            <a asp-action="Article" asp-controller="Home" asp-route-id="@articles.Id">Подробнее</a>
        </div>
    }
    <div class="text-center fs-4">Статьи на рецензии</div>
    @foreach (var article in Model.OnReview)
    {
        <div class="allcolor">
        </div>
        <div class="row align-items-center mycolor p-3 mycolor">
            <div class="col-md-4">Категория: @article.Category.Name</div>
            <div class="col-md-4"></div>
            <div class="col-md-4">Автор: @article.Author.FirstName @article.Author.LastName</div>
            <p>@article.Title</p>
            <p>@article.Text</p>
            @Html.ActionLink("Изменить(опубликовать) статью", "ReviewArticle", "Article", new { id = article.Id })
        </div>
    }
    <div class="text-center fs-4">Сохраненные статьи</div>
    @foreach (var article in Model.SavedArticles)
    {
        <div class="allcolor">
        </div>
        <div class="row align-items-center mycolor p-3 mycolor">
            <div class="col-md-4">Категория: @article.Category.Name</div>
            <div class="col-md-4"></div>
            <div class="col-md-4">Автор: @article.Author.FirstName @article.Author.LastName</div>
            <p>@article.Title</p>
            <p>@article.Text</p>
            @Html.ActionLink("Отправить на ревью", "LinkCreateArticle", "Article", new { id = article.Id })
        </div>
    }
    <div class="text-center fs-4">Одобренные статьи</div>
    @foreach (var article in Model.Approved)
    {
        <div class="allcolor">
        </div>
        <div class="row align-items-center mycolor p-3 mycolor">
            <div class="col-md-4">Категория: @article.Category.Name</div>
            <div class="col-md-4"></div>
            <div class="col-md-4">Автор: @article.Author.FirstName @article.Author.LastName</div>
            <p>@article.Title</p>
            <p>@article.Text</p>
            @Html.ActionLink("Изменить(опубликовать) статью", "ReviewArticle", "Article", new { id = article.Id })
        </div>
    }
</div>








