﻿body {
    background-color: gray;
}

.mycolor {
    background-color: white;
    border-radius: 10px;
}

a {
    text-decoration: none;
}

.allcolor {
    background-color: gray;
    height: 20px;
}

.senya {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
    position: absolute;
    width: 503px;
    height: 450px;
    left: 365px;
    top: 80px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}

.nameCompany {
    position: static;
    width: 341px;
    height: 39px;
    left: 166.5px;
    top: 1px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 5px;
    /* identical to box height */


    color: #000000;
    /* Inside Auto Layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 16px 0px;
}

.linkTextRegister {
    position: static;
    width: 104px;
    height: 20px;
    left: 0px;
    top: 4px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */

    display: flex;
    align-items: center;
    text-align: center;
    color: #7B61FF;
    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
}

.linkTextForgotPassword {
    position: static;
    width: 132px;
    height: 20px;
    left: 0px;
    top: 4px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */

    display: flex;
    align-items: center;
    text-align: center;
    color: #7B61FF;
    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
}

.buttomInputSite {
    margin-top: 10px;
}

.registerAction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
    position: absolute;
    width: 503px;
    height: 620px;
    left: 365px;
    top: 35px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}

.forgotPasswordAction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
    position: absolute;
    width: 674px;
    height: 400px;
    left: 300px;
    top: 50px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}

.textForgot {
    position: static;
    width: 394px;
    height: 39px;
    left: 140px;
    top: 50px;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */


    color: #000000;
    /* Inside Auto Layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 30px 0px;
    margin-top: 0px;
}

.mainText {
    position: static;
    width: 437px;
    height: 72px;
    left: 0px;
    top: 16px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */


    color: #383838;
    /* Inside Auto Layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 16px 0px;
}

.emailforgot {
    position: static;
    width: 437px;
    height: 24px;
    left: 0px;
    top: 0px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    /* Text/01. Body */

    color: #212529;
    /* Inside Auto Layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 0px;
}

.PasswordConfirmationAction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
    position: absolute;
    width: 674px;
    height: 300px;
    left: 300px;
    top: 100px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}

.PasswordConfirmationText {
    position: static;
    width: 437px;
    height: 72px;
    left: 0px;
    top: 30px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */


    color: #383838;
    /* Inside Auto Layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 16px 0px;
    margin-top: 30px;
}

.CreateNewPasswordAction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
    position: absolute;
    width: 500px;
    height: 459px;
    left: 383px;
    top: 80px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 32px;
    position: absolute;
    width: 1440px;
    height: 80px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 1px 0px #D5D5D6;
}

.Articles {
    position: static;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    /* Gray 3 */

    color: #828282;
    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}

.blocArticle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    position: static;
    width: 791px;
    height: 221px;
    left: 0px;
    top: 44px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    /* Inside Auto Layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 20px 0px;
}
}