﻿@model List<Article>
<p>5 лучших статей за неделю</p>
@foreach (var article in Model)
{
<a asp-action="Article" asp-controller="Home" asp-route-id="@article.Id">
    @article.Title
    @article.Author.FirstName @article.Author.LastName
</a>
<p></p>
}
