﻿@model List<Comment>

@foreach (var item in Model)
{
<div class="row">
    <div class="col-md-8">@item.Text</div>
    <div class="col-md-3">@item.TimeCreateComment.ToString("hh:mm:ss")</div>
    <p></p>
</div> 
}