﻿@model Author
<div class="row">
    <div class="text-center fs-3">
        @Model.FirstName @Model.LastName
        <div>
            @Html.ActionLink("Написать", "CreatePrivateRoom", "Chats", new { userId = Model.UserAuthorId })
        </div>
    </div>
    <div class="row">
        <p>Количество статей выпущенных этим автором: @Model.Articles.Count</p>
        <form class="col-md-10" asp-action="Subscribe" asp-controller="Author">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="@Model.Id" name="id" />
            </div>
            <div>
                <input class="btn btn-success" type="submit" value="Подписаться" />
            </div>
        </form>
        <form class="col-md-2" asp-action="Unsubscribe" asp-controller="Author">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="@Model.Id" name="id" />
            </div>
            <div>
                <input class="btn btn-danger" type="submit" value="Отписаться" />
            </div>
        </form>
    </div>



    @foreach (var articles in Model.Articles)
    {
        <div class="allcolor">
        </div>
        <div class="row align-items-center mycolor p-3 mycolor">
            <p>@articles.Title</p>
            <p>@articles.Text</p>
            <a asp-action="Article" asp-controller="Home" asp-route-id="@articles.Id">Подробнее</a>
        </div>
    }


 </div>