﻿@model List<Author>
<div class="row">

    @foreach (var author in Model)
    {
        <div class="allcolor">
        </div>
        <div class="row align-items-center mycolor p-3 mycolor">
            <div class="col-md-7">@author.FirstName @author.LastName</div>

            <div class="col-md-5">
                @Html.ActionLink("Перейти к статьям данного автора", "Author", "Author", new { id = author.Id })
            </div>
            <div>
                Количество опубликованных статей этого автора: @author.Articles.Count
            </div>
        </div>
        
    }
</div>
