﻿@model List<Article>
<div class="row">
@if (Model.Count == 0)
{
    <p>Статьи не найдены</p>
}
else
{
    @foreach (var article in Model)
    {
        <div class="allcolor">
        </div>
        <div class="row align-items-center mycolor p-3 mycolor">
            <div class="col-md-4">Категория: @article.Category.Name</div>
            <div class="col-md-4"></div>
            <div class="col-md-4">Автор: @article.Author.FirstName @article.Author.LastName</div>
            <p>@article.Title</p>
            <p>@article.Text</p>
            <a asp-action="Article" asp-controller="Home" asp-route-id="@article.Id">Подробнее</a>
        </div>

    }
}
</div>