﻿@model ArticleViewModel

@{ var vote = Model.Article.Votes
                    .Where(x => x.UserId == Model.UserId && x.ArticleId == Model.Article.Id)
                    .FirstOrDefault(); 
}



    <div class="row">
        <div class="allcolor">
        </div>
        <div class="mycolor">

            <div class="row align-items-center mycolor p-3">
                <div class="col-md-4">Категория: @Model.Article.Category.Name</div>
                <div class="col-md-4"></div>
                <div class="col-md-4">Автор: @Model.Article.Author.FirstName @Model.Article.Author.LastName</div>
                <p>@Model.Article.Title</p>
                <p>@Model.Article.Text</p>

                @if (Model.Article.Picture != null)
                {
    <img src="@Url.Content(Model.Article.Picture.Path)" />}
            </div>

            <form method="post" asp-action="Rating" asp-controller="Rating" asp-route-articleId="@Model.Article.Id" enctype="multipart/form-data">
                @if (vote != null)
                {
    <div>
        <input type="hidden" asp-for="@vote.VoteId" name="voteId" />
    </div>  }
                <div class="row">
                    <div class="col-md-2">
                        <input class="btn btn-outline-info" type="submit" name="btnAction" value="Нравится" />
                    </div>

                    <div class="col-md-2">
                        <div>Рейтинг: @Model.Article.Rating</div>
                    </div>

                    <div class="col-md-1">
                        <input class="btn btn-outline-warning" type="submit" name="btnAction" value="Не нравится" />
                    </div>
                </div>
            </form>

        </div>
    </div>
<form method="post" asp-action="CreateComment" asp-controller="Home">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group mb-3">
        <label asp-for="CommentText" class="custom-control-label"></label>
        <input asp-for="CommentText" class="form-control" />
        <input type="hidden" asp-for="@Model.Article.Id" name="Article.Id" />
    </div>
    <div class="mb-3">
        <input class="btn btn-success" type="submit" value="Прокомментировать" />
    </div>
</form>
<div class="mycolor">
    <div class="text-center fs-3">
        Комментарии:        
    </div>
        @await Component.InvokeAsync("ArticleComment");
</div>
