﻿@model Category
<div class="text-center fs-3">Всe статьи из категории @Model.Name</div>
@foreach (var article in Model.Articles)
{
    <div class="allcolor">
    </div>
    <div class="row align-items-center mycolor p-3 mycolor">
        <div class="col-md-4">Категория: @article.Category.Name</div>
        <div class="col-md-4"></div>
        <div class="col-md-4">Автор: @article.Author.FirstName @article.Author.LastName</div>
        <p>@article.Title</p>
        <p>@article.Text</p>
        <a asp-action="Article" asp-controller="Home" asp-route-id="@article.Id">Подробнее</a>
    </div>

}
