﻿@model SubscribeViewModel

@{ ViewData["Title"] = "Home Page"; }
<div class="row">
    @foreach (var author in Model.Authors)
    {
        @foreach (var articles in author.Articles)
        {
            <div class="allcolor">
            </div>
            <div class="row align-items-center mycolor p-3 mycolor">
                <div class="col-md-4">Категория: @articles.Category.Name</div>
                <div class="col-md-4"></div>
                <div class="col-md-4">Автор: @articles.Author.FirstName @articles.Author.LastName</div>
                <p>@articles.Title</p>
                <p>@articles.Text</p>
                <a asp-action="Article" asp-controller="Home" asp-route-id="@articles.Id">Подробнее</a>
            </div>
         }
    }
</div>

