﻿@model List<Category>
@Html.ActionLink("Всё подряд", "Index", "Home")
@if (Model.Any())
{
<div class="col">
    <ul>
        @foreach (Category category in Model)
        {
<li>@Html.ActionLink(category.Name, "CategoryList", "Home", new { id = category.Id })</li>
}
    </ul>
</div>}

